extends layouts/main-layout.pug

block style
    link(rel="stylesheet",href="/css/form.css")
block content 
    main
        form(action="/admin/add-product",method="post").product-form
            .form-control 
                label(for="title") Title 
                input(type="text",name="title",id="title")
            button(type="submit").btn Add Product
